<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="Stylesheet" href="/Templates/style.css">
</head>
<body>
    <div class="container">
        <img src="Img/Sourse.png" alt="" class="imagen">
        <div class="form-reg">
            <h5>REGISTRO</h5>
            <input class="resp" type="text" id="name" value="" placeholder="Nombre">
            <input class="resp" type="email" id="email" value="" placeholder="Correo Electronico">
            <input class="resp" type="text" id="usuario" value="" placeholder="Usuario">
            <input class="resp" type="password" id="password" placeholder="Contraseña">
            <input class="resp" type="password" id="confirmPassword" placeholder="Confirmar contraseña">
            
            <input class="buttons" type="submit"  value="Registrar" >
        </div>
    </div>
</body>

</html>