<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="Stylesheet" href="/Templates/style.css">
</head>
<body>   
    <h5>REGISTRO</h5> 
    <form id="registroForm" action="/submit" method="POST">
        <input class="resp" type="text" id="name" name="nombre_usuario" placeholder="Nombre">
        <input class="resp" type="email" id="email" name="correo_usuario" placeholder="Correo Electrónico">
        <input class="resp" type="text" id="usuario" name="usuario" placeholder="Usuario">
        <input class="resp" type="password" id="password" name="contraseña_usuario" placeholder="Contraseña">
        <input class="resp" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmar contraseña">
        <button type="submit">Registrar</button>
    </form>
    <script src="Registro.js"></script>
</body>

</html>